version: '3.8'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
      POSTGRES_DB: Minecraft-Realms-Emulator
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    build:
      context: .
      dockerfile: Dockerfile.python
    ports:
      - "5000:5000"
    environment:
      CONNECTION_STRING: "postgresql://postgres:password@db:5432/Minecraft-Realms-Emulator"
      ADMIN_KEY: "your-admin-key-here"
    depends_on:
      - db
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./app:/app/app

volumes:
  postgres_data:
